<html>
	<head>
		<title>RCOS I/O</title>
	</head>
	<body>
		<h2>{{ project['title'] }}</h2>
		<p>{{ project['description'] }}</p>

		<h3>Stack</h3>
		{% if project['stack'] is defined and project['stack']|length > 0 %}
			<ul>
				{% for s in project['stack'] %}
					<li>{{ s }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<i>None yet!</i>
		{% endif %}
		

		<h3>Members</h3>
		{% if project['enrollments'] is defined and project['enrollments']|length > 0 %}
			{% for semester_title, semester in project['assignments'].items() %}
				<h4>{{ semester_title }}</h4>
				<ul>
					{% for user in semester %}
						<li>{{ user['user']['first_name'] }} {{ user['user']['last_name'] }} ({{ user['semester']['title'] }})</li>
					{% endfor %}
				</ul>
			{% endfor %}
		{% else %}
			<i>None yet!</i>
		{% endif %}
	</body>
</html>
